h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.card-service-lg {
    padding: 15px 20px;
}
.card {
    border-radius: 4px;
    background: #fff;
    margin: 10px 0px 20px 0px;
    transition: ease-in-out 0.3s;
    border: 1px solid #ddd;
    position: relative;
    padding: 15px 0px;
}
.card-service-lg .con {
    padding-left: 15px;
    margin-top: 10px;
}
.card .title, .card .text, .card .note {
    color: #fa8756;
    font-weight: bold;
}
.card .note {
    margin-bottom: 10px;
}
.card .pre-intro {
    color: #333;
}